*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}
.container{
    background-image: url(first_banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.nav_container{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar_logo img{
    width: 150px;
    height: auto;
}
#navcontent{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 75%;
    list-style: none;
}
.navbar-nav{
    
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.nav-item a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-item a:hover{
    color: red;
}
.nav-item{
    position: relative;
    list-style: none;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.apply-btn a{
    background-color: #ffffff;
    color: red;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease ;
}
.apply-btn a:hover{
    background-color: red;
    color: #fff;
}

.hero-section{
    
    z-index: ;
}
.hero-section-container{
    background-image: url(first_banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.hero-section-container h2{
    font-size: 36px;
    margin-bottom: 20px;
}